<div>
  Coworkers:<br>
  <div *ngIf="httpError == null && coworkers != null">
    <table id="datatable" class="table table-striped table-bordered table-sm row-border hover" datatable>
      <tr>
        <th>Naam</th>
        <th>Acties</th>
      </tr>
      <tbody>
      <tr *ngFor="let coworker of coworkers">
        <td>{{coworker.getName}}</td>
        <td>
          <button type="submit" (click)="remove(coworker)">Remove {{coworker.getName}}</button>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    Username:
    <input formControl="username" class="form-control" name="username" id="username" required #username>
    <br>
    <button type="submit" (click)="sendAddCoworker(username.value)"> Add coworker</button>
  </div>
</div>
<div *ngIf="httpError != null">
  <div class="card text-white bg-danger text-center">
    <div class="card-header">{{httpError.name + ': ' + httpError.status}}</div>
    <div class="card-body">
      <p>{{httpError.message}}</p>
    </div>
  </div>
</div>
<div>
  <button type="submit" (click)="toPlanningCards()">To PlanningCards</button>
</div>
