<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div style="text-align: center">
  <h1>
    Login Planapp
  </h1>

  Username:
  <input formControl="username" class="form-control" name="email" id="username" required #username>
  <br>
  Password:
  <input formControl="password" type="password" name="password" id="password" required #password>
  <br>
  <button type="submit" (click)="sendLogin(username.value, password.value)"> Login</button>
  <br> or <br>
  <button type="submit" (click)="sendRegister(username.value, password.value)"> Register</button>
</div>
