<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div>
  <div *ngIf="card != null">
    Name:
    <input formControl="cardnamea" name="cardnamea" id="cardnamea" value="{{card.getName}}" required #cardname>
    Description:
    <input formControl="carddescriptiona" name="carddescriptiona" id="carddescriptiona" value="{{card.getCardDescription}}" required #carddescription>
    Deadline:
    <input formControl="deadlinea" name="deadlinea" id="deadlinea" value="{{card.getDeadline}}" required #deadline>

    <div align="center">
      <button type="submit" class="btn btn-primary" (click)="saveCard(cardname.value, carddescription.value, deadline.value)">Save</button>
    </div>
    <div align="center">
      <button type="submit" class="btn btn-primary" (click)="removeCard(card)">Remove</button>
    </div>
  </div>
</div>

